.App {
  font-family: sans-serif;
  text-align: center;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 200px;
  padding: 5px;
  margin: 5px;
}

.product-img {
  width: 200px;
  height: 200px;
}

.title {
  font-size: medium;
  font-weight: bold;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
}

.page-number {
  padding: 5px;
  margin: 2px;
  border: 1px solid black;
  cursor: pointer;
}

.pagination-container {
  padding: 20px;
}

.active {
  background-color: aqua;
}
